[submodule "RadeonProRenderUSD"]
	path = RadeonProRenderUSD
	url = https://github.com/GPUOpen-LibrariesAndSDKs/RadeonProRenderUSD
[submodule "USD"]
	path = USD
	url = https://github.com/PixarAnimationStudios/USD
[submodule "MaterialX"]
	path = MaterialX
	url = https://github.com/AcademySoftwareFoundation/MaterialX
